@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --color0: #0f052d;
    --color1: #203671;
    --color2: #36868f;
    --color3: #5fc75d;
    --color-error: red;
}

body {
    background-color: var(--color0);
    color: var(--color3);
    font-family: 'Share Tech Mono', monospace;
}

.error {
    color: var(--color-error);
}

#center-column {
    max-width: 500px;
}

#add-sound-button {
    background: var(--color0);
    border: 1px solid var(--color3);
    border-radius: 3px;

    font-family: inherit;
    font-size: 16px;
    color: var(--color3);

    padding: 5px;
    margin: 8px;
    width: 100%;
    cursor: pointer;
}

#add-sound-button:hover {
    color: var(--color0);
    border-color: var(--color0);
    background: var(--color3);
}

#new-sound-picker {
    display: none;
}

.sound-card {
    border: 1px solid var(--color0);
    border-radius: 3px;
    margin: 8px;
    display: flex;
    width: 100%;
}

.sound-card:hover {
    border-color: var(--color3);
}

.sound-card-left {
    width: 28px;
    text-align: center;
}

.sound-card-right {
    width: 100%;
    text-align: left;
    display: table;
}

.sound-card-index {
    display: inline-block;
    vertical-align: middle;
    line-break: normal;
}

.sound-card-path, .sound-card-effects {
    display: table-row;
}

.effect-value::after {
    content: " ";
}
