<html>

<head>
    <title>PSYN</title>
    <link rel="stylesheet" href="static/style.css" />
    <script>
        let WEBSERVER_PORT = {{ .Port }};
    </script>
    <script src="static/script.js"></script>
</head>

<body>
    <h1 id="header">PSYN</h1>
    <table id="center-column">
        <div id="sound-card-wrapper"></div>
        <button id="add-sound-button" onclick="pickNewSoundFile();">ADD NEW SOUND</button>
    </table>
    <input type="file" id="new-sound-picker" accept="audio/wav">
</body>

</html>